.spinner--container{
	margin: 0;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 5px solid #85de8c;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: 1s;
	transform-origin: center;
	/* transition-property: all; */
}
.spin{
	transform: rotate(360deg);
}